@model List<Contact>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@foreach (Contact contact in ViewData["contacts"] as List<Contact>)*@
@*@foreach (Contact contact in ViewBag.contacts)*@
@if(ViewBag.message != null)
{
    <div class="container">
        <div class="row">
            <div class="alert @ViewBag.type">
                @ViewBag.message
            </div>
        </div>
    </div>
}
<div>
    <form asp-action="Index" asp-controller="Contact">
        <input type="text" name="search" />
        <button type="submit">search</button>
    </form>
</div>
@foreach (Contact contact in Model)
{
    <div>
        @contact.FirstName @contact.LastName @contact.Phone <a asp-action="DetailContact" asp-controller="Contact" asp-route-id="@contact.Id">Detail</a><a asp-action="DeleteContact" asp-controller="Contact" asp-route-id="@contact.Id">Supprimer</a>
    </div>
}
